Layout
  v-row(align="center" justify="center")
    v-col(cols="12" sm="8" md="4")
      Form(
        v-model="query"
        :loading="loading"
        :cache="allQueries"
        :result="result"
        :search-fail="searchFail"
        @submit="handleSearchSubmit")
